:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
  }
  *:focus{
    outline: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: "montserrat";

}
body{
    /* overflow-y: hidden; */
    /* overflow-y: hidden; */
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: row;
    /* row-gap: 10px; */
}
#right{
    background-color: rgb(255, 255, 255);
    width: 400px;
    align-self: right;
    height: 100dvh;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 10px;
    padding-top: 10px;
}
#right #header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: black; */
}
#account{
    background-color: #c7c7c7;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 20px;
    height: 30px;
}
#right #header button{
    background-color: none;
    border: none;
    
}
#right #text{
    font-size: 12px;
    color: #9f9f9f;
}
#middle{
    /* display: flex; */
    padding: 10px;
    padding-top: 20px;
    width: 800px;
    height: 100dvh;
    /* background-color: #f7d8d8; */
}
#middle div h1{
    color: rgb(1, 95, 13);
}
#middle #header #search{
    display: flex;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 40px;
    background-color: #d4d4d4;
    padding-left: 20px;
    width: 380px
}
#middle #header #search img{
    width: 23px;
}
#search-input{
    background-color: inherit;
    border: none;
    padding: 5px;
    width: 100%;
    font-size: 17px;
    
}
#search-input:enabled{
    border: none;

}

#left{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 0;
    padding-bottom: 0;
    color: black;
    margin: 0;
    margin-right: 30px;
    box-shadow: 5px 0px 15px rgba(213, 213, 213, 0.856);
}
#logo-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    padding: 20px;
    margin-left: 50px;
}
#logo-container img{
    width: 45px;
}
#left-menus{
    display: flex;
    width: 95%;
    border-style: solid;
    border-width: 4px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-color: rgb(243, 243, 243);
    padding-top: 10px;
}
#left-menus li div img{
    width: 17px;
    scrollbar-color: var(--base-clr);
}
#left-menus li div{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: "montserrat";
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 11px;
    color: #969696;
    gap: 5px;
   }
#left-menus li div:hover{
    color: rgb(14, 1, 48);
    background-color: rgb(216, 216, 255);
    cursor: pointer;
    width: inherit;
}
#left-menus ul{
    width: 100%;
    list-style: none;    
}
#left-menus ul{
    width: 100%;
    list-style: none;    
}


#body-middle{
    background-color: #11121a;
    width: 100%;
    height: 50px;
}